# coding=utf-8
"""

"""

DATABASES = {
   'default': {
       'ENGINE': 'django.db.backends.mysql',
       'NAME': 'database_name',
       'USER': 'database_user',
       'PASSWORD': 'database_user_pwd',
       'HOST': '127.0.0.1',       # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
       'PORT': '3306',                # Set to empty string for default.
   },
}

NORM_PASS = 'XXXXX'

TEST_USERS = [
    ('user1_admin@crams.com.au', NORM_PASS, True),
    ('user2_admin@crams.com.au', NORM_PASS, True),
    ('crams_admin@crams.com.au', NORM_PASS),
    ('crams_approver@crams.com.au', NORM_PASS),
    ('crams_provisioner@crams.com.au', NORM_PASS),
    ('TestUser1@crams.com.au', NORM_PASS),
    ('TestUser2@crams.com.au', NORM_PASS),
]

ERB_ADMINS = ['user1_admin@crams.com.au', 'crams_admin@crams.com.au']
ERB_SYSTEM_ADMINS = ['user2_admin@crams.com.au']
ERB_APPROVERS = ['crams_approver@crams.com.au']
ERB_PROVIDERS = ['crams_provisioner@crams.com.au']
CRAMS_DEMO_ERB = 'CRAMS-ERB'
CRAMS_DEMO_ERB_SYSTEM = 'CRAMS-ERB-SYS'


MQ_MAIL_ENABLED = False
# Send email to the console by default
# EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'
# Or have an smtp backend, it will send email to admin user
EMAIL_HOST = 'smtp.crams.com'
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
MAILER_EMAIL_BACKEND = EMAIL_BACKEND
EMAIL_SENDER = 'sender@crams.com'

DEV_ENVIRONMENT = 'development'
STAGING_ENVIRONMENT = 'staging'
QAT_ENVIRONMENT = 'qat'
PROD_ENVIRONMENT = 'production'
CURRENT_RUN_ENVIRONMENT = DEV_ENVIRONMENT
CURRENT_RUN_ENVIRONMENT = 'DEMO'

DEFAULT_CLIENT_VIEW_REQUEST_PATH = '/#/allocations/view_request/'
DEFAULT_CLIENT_VIEW_APPROVAL_PATH = '/#/approval/view_request/'
RACMON_CLIENT_BASE_URL = 'https://127.0.0.1'
RACMON_CLIENT_VIEW_REQUEST_PATH = DEFAULT_CLIENT_VIEW_REQUEST_PATH
RACMON_CLIENT_VIEW_APPROVAL_PATH = DEFAULT_CLIENT_VIEW_APPROVAL_PATH
RACMON_CLIENT_VIEW_JOIN_PATH = '/#/allocations/join_project/'
RACMON_CLIENT_VIEW_MEMBER_PATH = '/#/allocations/membership/'

ERB_CONTACT_ID_KEY = dict()
ERB_CONTACT_ID_KEY[CRAMS_DEMO_ERB] = 'CRAMS_POSIX_USER_ID'

ERB_SOFTWARE_GROUP_ID_KEY = dict()
ERB_SOFTWARE_GROUP_ID_KEY[CRAMS_DEMO_ERB] = 'CRAMS_SOFTWARE_GROUP_ID'
