include LICENSE
include README.rst
include requirements.txt
recursive-include **/sqls *
recursive-include static *
recursive-include **/templates *
recursive-include docs *
recursive-exclude tests *
recursive-exclude **/tests *
global-exclude __pycache__
global-exclude *.py[co]