**/.DS_Store
**/.idea
**/dist
**/build
**/*.egg-info
**/__pycache__
**/db.sqlite3*
**/local_settings.py
**/celery_settings.py
**/.coverage
**.venv/
**/schema.yml

staticfiles/

deployment/.env
deployment/database/.env
deployment/database/dev/db_import/*.sql
deployment/database/dev-mysql
deployment/database/dev/config/my.cnf
deployment/database/dev/init/init.sql