# coding=utf-8
"""

"""
LANGUAGE_CODE = 'en-au'
TIME_ZONE = 'Australia/Melbourne'
USE_I18N = True
USE_L10N = True
USE_TZ = True

# Celery broker configuration for Rabbit MQ
CELERY_BROKER_URL = 'amqp://user:password@ip_address:5672/crams_opensource'
CELERY_ACCEPT_CONTENT = ['application/json']
CELERY_RESULT_SERIALIZER = 'json'
CELERY_TASK_SERIALIZER = 'json'
CELERY_TIMEZONE = TIME_ZONE

# ref to http://docs.celeryproject.org/en/latest/userguide/periodic-tasks.html#crontab-schedules
CELERY_BEAT_SCHEDULE = {}