Allocation provisioned for Project: {{ request.project.title }}

Dear {{ request.data_custodians}},

This email is to inform you that one or more of the storage products you requested for project {{ request.project.title }} is due for review, and to invite feedback on how the CRAMS services are matched to your needs.

{{ request.project.title }} was provisioned on {{ request.provision_date }} with an expected lifetime of {{ request.retention_period }} years.

We would like to hear how your research is progressing and whether or not you have any suggestions for improvement or issues with the service. We would also like to take the opportunity to discuss your current and ongoing requirements, ensure that your allocation description and purpose is still accurate and up-to-date and also discuss new services and features that may be of use to you. This information is increasingly being used for capacity planning and University reporting requirements.

You may be satisfied to update your project description, contact details and project membership directly in the Dashboard, opt for a telephone discussion or request a face to face meeting. The extent of your participation is up to you.

Register your participation choice using our Support Ticket system by replying to this email with a short note such as;
	- No Thanks (Email and Support tickets are fine)
	- Ring me using my contact details (or other phone number)
	- Book me in calendar for a meeting (Zoom or site visit)

As always, please feel free to contact us at {{ request.reply_email }}

Regards,

The CRAMS Demo Team.